.is-invalid {
    color: #f44455 !important;
}

.is-invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 90%;
    color: #f44455;
}

.is-invalid-input:focus,
.is-invalid-input {
    border-color: #dc3545;
}

#grid-delete {
    color: #ff6961;
}

#grid-edit {
    color: #4477b2;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.notification {
    color: #0066cc !important;
    text-decoration: none;
    /*padding: 15px 26px;*/
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

/*.notification:hover {*/
/*    background: gray;*/
/*}*/

.notification .badge {
    position: absolute;
    /*top: -10px;*/
    right: 20px;
    /*padding: 5px 10px;*/
    border-radius: 50%;
    background: red;
    color: white;
}

.user-card {
    margin-top: 10px;
    margin-left: 20px;
    border: 2px;
    border-radius: 20px;
    background-color: #0066cc;
    color: white !important;
}

.new-notification {
    width: 300px !important;
}

.new-notification .break {
    border-bottom: 1px solid #0066cc;
}

.break {
    word-break: break-all !important;
    white-space: unset !important;
}

.avatar {
    color: #0066cc;
    margin: 0 auto 20px;
    text-align: center;
    z-index: 9;
}

.comment-active {
    box-shadow: 5px 10px #3490dc;
    border: 1px solid gray;
    padding: 10px;
    margin: 15px;
}

.row-form {
    margin: unset;
}

.ckeditor-readonly figure,
.ck-read-only figure {
    outline: none;
}

.card-img-top img {
    width: auto;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: center;
}

.child-comment {
    margin-left: 2rem;
}

.action-btn {
    float: right;
}

.comment-user-data {
    float: left;
}

.comment-header {
    display: flow-root;
}

.btn-comment:hover {
    color: #3490dc;
}

.noauth-bg {
    background: url(../images/bg/bg_blur.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.btn-primary {
    background-color: #0066cc;
}

.login-card-title,.login-card-body {
    border: 3px solid #ff9933;
    border-radius: 10px;
    background-color: rgba(255, 153, 51, 0.7);
}

.login-card-title h1 {
    color: #0066cc;
}

.login-card-body .card-header {
    background-color: #ff9933;
    color: #0066cc;
}

.navbar {
    background-color: rgba(255, 153, 51, 0.90);
}

body {
    background-color:#f4f9ff;
    font-size: 1rem;
}

.navbar-brand {
    color: #0066cc;
}

.nav-link {
    color: #111111;
}