.is-invalid {
    color: #f44455 !important;
}

.is-invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 90%;
    color: #f44455;
}

.is-invalid-input:focus,
.is-invalid-input {
    border-color: #dc3545;
}

#grid-delete {
    color: #ff6961;
}

#grid-edit {
    color: #4477b2;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.notification {
    color: white;
    text-decoration: none;
    /*padding: 15px 26px;*/
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

/*.notification:hover {*/
/*    background: gray;*/
/*}*/

.notification .badge {
    position: absolute;
    /*top: -10px;*/
    right: 20px;
    /*padding: 5px 10px;*/
    border-radius: 50%;
    background: red;
    color: white;
}

.user-card {
    margin-top: 10px;
    margin-left: 20px;
    border: 2px;
    border-radius: 20px;
    background-color: gray;
    color: white !important;
}

.new-notification {
    width: 300px !important;
}

.break {
    word-break: break-all !important;
    white-space: unset !important;
}

.avatar {
    color: #fff;
    margin: 0 auto 30px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 9;
    background: #3490dc;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.comment-active {
    box-shadow: 5px 10px #3490dc;
    border: 1px solid gray;
    padding: 10px;
    margin: 15px;
}

.row-form {
    margin: unset;
}

.ckeditor-readonly figure,
.ck-read-only figure {
    outline: none;
}

.card-img-top img {
    width: auto;
}
